html,
body {
    margin: 0;
    padding: 0;
}

/* form表单及输入框、按钮基础样式 */
.form {
    padding: 15px;
    margin-left: calc(50vw - 200px);
    margin-top: calc(50vh - 150px);
    min-width: 300px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.input {
    margin-top: 10px;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.input>input {
    padding: 0;
    padding-left: 65px;
    width: 100%;
    height: 100%;
    margin: 0;
    background: none;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #cccccc;
    outline: none;
    box-sizing: border-box;
    transition: all 0.35s;
}

.input-code>input {
    padding-right: 80px;
}

.input>input:focus {
    border: 2px solid #238de4;
}

.input>.label {
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 10;
    margin-right: 5px;
    width: 65px;
    height: calc(100% - 4px);
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: default;
    user-select: none;
}

.input>.code {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
    width: 100px;
    height: calc(100% - 4px);
    border-radius: 0 5px 5px 0;
    background: #eee;
    cursor: pointer;
    user-select: none;
}

.input>.code>img {
    width: 100%;
    height: 100%;
    border: none;
}

.button {
    margin-top: 10px;
    padding: 0 5px;
    width: max-content;
    min-width: 80px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background: #57bcff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.button:active {
    background: #86cfff;
}