<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../components/littleApe-ui.css">
    <script src="../../components/littleApe-ui.js"></script>
    <!-- 工具类 -->
    <script src="../../js/tools.js"></script>
    <!-- 组件实例 -->
    <link rel="stylesheet" href="../index.css">
    <script src="../index.js"></script>
    <title>组件</title>
</head>

<body>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div class="content">
            <div class="title">快速上手</div>
            <div class="introduce">本节将介绍如何在项目中使用 <span class="keyWords">littleApe-UI</span>。</div>
            <div class="tip">引入 littleApe-UI</div>
            <div class="introduce">你可以引入整个 littleApe-UI 组件。接下来将介绍如何引入完整的 littleApe-UI。</div>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化选项卡
    $a('start')
</script>
<style>

</style>