<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- 工具类 -->
    <script src="../../../js/tools.js"></script>
    <!-- 组件实例 -->
    <link rel="stylesheet" href="../../index.css">
    <script src="../../index.js"></script>
    <title>组件</title>
</head>

<body>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div class="content">
            <div class="title">button 按钮</div>
            <div class="tip">组件说明</div>
            <div class="introduce">常用的操作按钮。</div>
            <div class="tip">基础用法</div>
            <div class="introduce">基础的按钮用法</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button">默认按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-success">成功按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-warning">警告按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-error">危险按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-info">信息按钮</button>
                    </div>
                </div>
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button ape-button-plain-default">朴素按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-plain">默认按钮</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化选项卡
    $a('button')
    $animation()
</script>
<style>

</style>