<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- 工具类 -->
    <script src="../../../js/tools.js"></script>
    <!-- 组件实例 -->
    <link rel="stylesheet" href="../../index.css">
    <script src="../../index.js"></script>
    <title>组件</title>
</head>

<body>
    <div id="header" class="header"></div>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div id="content" class="content">
            <div class="title">安装</div>
            <div class="tip">CDN</div>
            <div class="introduce">目前可以通过下载 <span class="link" onclick="downloadJs()">littleApe-UI.js</span> 和 <span
                    class="link" onclick="downloadCss()">littleApe-UI.css</span>
                的方式来获取最新版本的资源，在页面上引入 js 和 css 文件即可开始使用。
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化header
    $header("组件")
    // 初始化选项卡
    $compentTabs('install')
    $animation()
    // 下载 js
    function downloadJs() {
        window.open('../../../components/littleApe-ui.js', 'littleApe-UI.js')
    }
    // 下载 css
    function downloadCss() {
        window.open('../../../components/littleApe-ui.css', 'littleApe-UI.css')
    }
</script>
<style>

</style>