<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- js -->
    <script src="../../../js/index.js"></script>
    <script src="../../../js/tools.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <!-- 代码高亮 -->
    <link rel="stylesheet" href="../../hightlight/default.min.css">
    <script src="../../hightlight/highlight.min.js"></script>
    <title>组件</title>
</head>

<body>
    <div id="header" class="header"></div>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div id="content" class="content">
            <div class="title">button 按钮</div>
            <div class="tip">组件说明</div>
            <div class="introduce">常用的操作按钮。</div>
            <div class="tip">基础用法</div>
            <div class="introduce">基础的按钮用法</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button">默认按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-success">成功按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-warning">警告按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-error">危险按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-info">信息按钮</button>
                    </div>
                </div>
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button ape-button-plain-default">朴素按钮</button>
                    </div>
                    <div class="example">
                        <button class="ape-button ape-button-plain">默认按钮</button>
                    </div>
                </div>
                <div id="code" class="examples-code">
                    <div class="examples-code-area">
                        <pre><code>&lt;button class="ape-button">默认按钮&lt;/button>
&lt;button class="ape-button ape-button-success">成功按钮&lt;/button>
&lt;button class="ape-button ape-button-warning">警告按钮&lt;/button>
&lt;button class="ape-button ape-button-error">危险按钮&lt;/button>
&lt;button class="ape-button ape-button-info">信息按钮&lt;/button>

&lt;button class="ape-button ape-button-plain-default">朴素按钮&lt;/button>
&lt;button class="ape-button ape-button-plain">默认按钮&lt;/button></code></pre>
                    </div>
                </div>
                <div id="control" class="examples-control"></div>
            </div>
            <div class="tip">属性</div>
            <table class="attributes">
                <tr class="thead">
                    <td>参数</td>
                    <td>说明</td>
                    <td>类型</td>
                    <td>可选值</td>
                    <td>默认值</td>
                </tr>
                <tr class="tbody">
                    <td>class</td>
                    <td>class 类名</td>
                    <td>string</td>
                    <td>——</td>
                    <td>——</td>
                </tr>
                <tr class="tbody">
                    <td>type</td>
                    <td>属性</td>
                    <td>string</td>
                    <td>button / submit / reset</td>
                    <td>button</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化header
    $header("组件")
    // 初始化选项卡
    $compentTabs('button')
    $animation()
    let last = {
        name: "快速上手",
        component: 'start'
    }
    let next = {
        name: "input 输入框",
        component: 'input'
    }
    $navigator(last, next)

    let code = document.getElementById("code")
    let control = document.getElementById("control")
    control.onclick = function () {
        let show = code.getAttribute("show")
        if (show && show == 'true') {
            code.setAttribute("show", false)
            code.style.gridTemplateRows = '0fr';
            control.classList.remove("examples-control-expand")
        } else {
            code.setAttribute("show", true)
            code.style.gridTemplateRows = '1fr';
            control.classList.add("examples-control-expand")
        }
    }
    hljs.highlightAll();
</script>
<style>

</style>