<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- js -->
    <script src="../../../js/index.js"></script>
    <script src="../../../js/tools.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <!-- 代码高亮 -->
    <link rel="stylesheet" href="../../hightlight/default.min.css">
    <script src="../../hightlight/highlight.min.js"></script>
    <title>组件</title>
</head>

<body>
    <div id="header" class="header"></div>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div id="content" class="content">
            <div class="title">loading 加载</div>
            <div class="tip">组件说明</div>
            <div class="introduce">加载数据时显示动效。</div>
            <div class="tip">基础用法</div>
            <div class="introduce">在网络请求或者其他操作时为避免用户未知情况下的等待，可增加交互体验。</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button ape-button-plain" onclick="open1()">打开加载</button>
                    </div>
                </div>
                <div id="code" class="examples-code">
                    <div class="examples-code-area">
                        <pre><code>&lt;button class="ape-button ape-button-plain" onclick="open1()">打开加载&lt;/button></code>
<code>function open1() {
    $loading.show()
    setTimeout(() => {
        $loading.hide()
    }, 5000);
}</code></pre>
                    </div>
                </div>
                <div id="control" class="examples-control"></div>
            </div>
            <div class="tip">自定义用法</div>
            <div class="introduce">可自定义设置加载提示文本。</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <button class="ape-button ape-button-plain" onclick="open1('我是自定义的提示文本')">打开自定义文本加载</button>
                    </div>
                </div>
                <div id="code1" class="examples-code">
                    <div class="examples-code-area">
                        <pre><code>&lt;button class="ape-button ape-button-plain" onclick="open2('我是自定义的提示文本')">打开自定义文本加载&lt;/button></code>
<code>function open2(e) {
    $loading.show(e)
    setTimeout(() => {
        $loading.hide()
    }, 5000);
}</code></pre>
                    </div>
                </div>
                <div id="control1" class="examples-control"></div>
            </div>
            <div class="tip">属性</div>
            <table class="attributes">
                <tr class="thead">
                    <td>参数</td>
                    <td>说明</td>
                    <td>类型</td>
                    <td>可选值</td>
                    <td>默认值</td>
                </tr>
                <tr class="tbody">
                    <td>title</td>
                    <td>加载文字</td>
                    <td>string</td>
                    <td>——</td>
                    <td>加载中...</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化header
    $header("组件")
    // 初始化选项卡
    $compentTabs('loading')
    $animation()
    $navigator()


    function open1(e) {
        $loading.show(e || null)
        setTimeout(() => {
            $loading.hide()
        }, 5000);
    }


    let code = document.getElementById("code")
    let control = document.getElementById("control")
    control.onclick = function () {
        let show = code.getAttribute("show")
        if (show && show == 'true') {
            code.setAttribute("show", false)
            code.style.gridTemplateRows = '0fr';
            control.classList.remove("examples-control-expand")
        } else {
            code.setAttribute("show", true)
            code.style.gridTemplateRows = '1fr';
            control.classList.add("examples-control-expand")
        }
    }

    let code1 = document.getElementById("code1")
    let control1 = document.getElementById("control1")
    control1.onclick = function () {
        let show = code1.getAttribute("show")
        if (show && show == 'true') {
            code1.setAttribute("show", false)
            code1.style.gridTemplateRows = '0fr';
            control1.classList.remove("examples-control-expand")
        } else {
            code1.setAttribute("show", true)
            code1.style.gridTemplateRows = '1fr';
            control1.classList.add("examples-control-expand")
        }
    }


    hljs.highlightAll();
</script>
<style>

</style>