<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- js -->
    <script src="../../../js/index.js"></script>
    <script src="../../../js/tools.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <!-- 代码高亮 -->
    <link rel="stylesheet" href="../../hightlight/default.min.css">
    <script src="../../hightlight/highlight.min.js"></script>
    <title>组件</title>
</head>

<body>
    <div id="header" class="header"></div>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div id="content" class="content">
            <div class="title">快速上手</div>
            <div class="introduce">本节将介绍如何在项目中使用 <span class="keyWords">littleApe-UI</span>。</div>
            <div class="tip">示例--普通 dom 元素</div>
            <div class="introduce">你可以引入整个 littleApe-UI 组件。然后只需要给对应的 dom 元素赋予对应的 class 类名即可，该示例将展示如何引用 littleApeUI 的警告按钮。</div>
            <div class="code">
                <pre><code>&lt;body>
    &lt;button class="ape-button ape-button-warning">警告按钮&lt;/button>
&lt;/body></code></pre>
            </div>
            <div class="tip">示例--js 交互函数</div>
            <div class="introduce">想要使用 littleApeUI 的组件只需要调用对应的函数即可。</div>
            <div class="code">
                <pre><code class="hljs">&lt;body>
    &lt;button class="ape-button ape-button-plain-default" onclick="open1()">打开 msgbox 弹窗&lt;/button>
&lt;/body>


&lt;script>
    function open1() {
        $msgbox({
            title: "标题名称",
            content: "这是一段内容"
        }).then(() => {
            $message("点击了确定")
        }).catch(() => {
            $message("点击了取消", "warning")
        })
    }
&lt;/script></code></pre>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化header
    $header("组件")
    // 初始化选项卡
    $compentTabs('start')
    $animation()
    hljs.highlightAll();
</script>
<style>

</style>