<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- littleApe-UI组件 -->
    <link rel="stylesheet" href="../../../components/littleApe-ui.css">
    <script src="../../../components/littleApe-ui.js"></script>
    <!-- 工具类 -->
    <script src="../../../js/tools.js"></script>
    <!-- 组件实例 -->
    <link rel="stylesheet" href="../../index.css">
    <script src="../../index.js"></script>
    <title>组件</title>
</head>

<body>
    <div class="container">
        <div id="tabsBox" class="tabs-box"></div>
        <div id="content" class="content">
            <div class="title">input 输入框</div>
            <div class="tip">组件说明</div>
            <div class="introduce">通过鼠标或键盘输入字符。</div>
            <div class="tip">基础用法</div>
            <div class="introduce">基础的输入框用法</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <input class="ape-input" placeholder="请输入内容"></input>
                    </div>
                </div>
            </div>
            <div class="tip">基础用法</div>
            <div class="introduce">多行输入框用法</div>
            <div class="examples">
                <div class="example-module">
                    <div class="example">
                        <textarea class="ape-input ape-input-area" placeholder="请输入内容"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // 初始化选项卡
    $a('input')
    $animation()
</script>
<style>

</style>