.pop-message-box {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: max-content;
}

.pop-message {
    padding: 15px;
    margin-top: -50px;
    opacity: 0;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.6s;
}

.message-warning {
    color: #ffae36;
    background: #fdf2e1;
    border: 1px solid #ffc46d;
}

.message-success {
    color: #48c548;
    background: #eeffee;
    border: 1px solid #83d183;
}

.message-error {
    color: #ff5549;
    background: #ffeae9;
    border: 1px solid #ff8880;
}

.message-enter {
    margin-top: 15px;
    opacity: 1;
}