.container {
    position: relative;
    margin: auto;
    width: 100%;
    min-width: 1000px;
    height: calc(100vh - 80px);
    background: #ffffff;
    display: flex;
}

.tabs-box {
    margin-left: 20%;
    padding: 30px 0;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 1s;
}

.tabs-box::-webkit-scrollbar {
    width: 6px;
}

.tabs-box::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #eeeeee;
}

.tabs-box::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent;
}

.tab {
    padding: 0 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #515151;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.35s;
    user-select: none;
}

.tab:hover {
    color: #f56262;
}

.tab:active {
    color: #999999;
}

.tab-active {
    color: #f56262;
}

.tab-title {
    padding: 0 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #313131;
    font-weight: bold;
    box-sizing: border-box;
    cursor: default;
}

.tab-tip {
    padding: 0 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #808080;
    box-sizing: border-box;
    cursor: default;
    transition: all 0.35s;
    user-select: none;
}

.content {
    padding: 30px 20% 0 20px;
    width: 0;
    flex: 1;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #cccccc;
}

.content::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
}

.title {
    padding-bottom: 20px;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #515151;
}

.tip {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    color: #111111;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}

.introduce {
    padding-bottom: 10px;
    width: 100%;
    line-height: 21px;
    font-size: 14px;
    color: #707070;
    box-sizing: border-box;
}

.introduce>.link {
    font-size: 14px;
    color: #f56262;
    cursor: pointer;
    transition: all 0.35s;
}

.introduce>.link:hover {
    color: #5e88fc;
}

.introduce>.link:active {
    color: #0044ff;
}

.introduce>.keyWords {
    margin: 0 5px;
    padding: 1px 3px;
    font-size: 14px;
    color: #f56262;
    background: #ffd8d8;
    border-radius: 4px;
    cursor: default;
    user-select: none;
}

.examples {
    padding-top: 15px;
    width: 100%;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 10px;
}

.example-module {
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.example {
    padding: 5px 10px;
    width: max-content;
    height: max-content;
}

.examples-code {
    display: grid;
    grid-template-rows: 0fr;
    background: #fafafa;
    transition: all 0.35s;
}

.examples-control {
    position: sticky;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-top: 1px solid #eeeeee;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    user-select: none;
    transition: background 0.35s ease-in-out;
}

.examples-control::before {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #d3dce6;
    transition: all 0.35s ease-in-out;
}

.examples-control::after {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% + 20px);
    content: "显示代码";
    width: max-content;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #d3dce6;
    opacity: 0;
    transition: all 0.35s ease-in-out;
}

.examples-control-expand::before {
    top: calc(50% - 9px);
    transform: rotate(180deg);
}

.examples-control-expand::after {
    content: "隐藏代码";
}

.examples:hover>.examples-control::after {
    opacity: 1;
}

.examples:hover>.examples-control::before {
    left: calc(50% - 33px);
}

.examples:hover>.examples-control::after {
    left: calc(50% - 13px);
}

.examples-control:hover {
    background: #f9fafc;
}

.examples-control:hover::before {
    border-top: 6px solid #f56262;
}

.examples-control:hover::after {
    color: #f56262;
}